OrbecAstraBodyTracker.qbs.user
bin/OrbecAstraBodyTracker_debug
bin/Plugins/
bin/astra.log
bin/astra.toml
bin/libastra.so
bin/libastra_core.so
bin/libastra_core_api.so
obj/
.vs/
OrbecAstraBodyTracker.VC.opendb
OrbecAstraBodyTracker.sdf
bin/FreeImage.dll
bin/OpenNI2.dll
bin/OpenNI2/
bin/OrbecAstraBodyTracker.exe
bin/OrbecAstraBodyTracker.exp
bin/OrbecAstraBodyTracker.lib
bin/OrbecAstraBodyTracker_debug.exe
bin/OrbecAstraBodyTracker_debug.exp
bin/OrbecAstraBodyTracker_debug.ilk
bin/OrbecAstraBodyTracker_debug.lib
bin/OrbecAstraBodyTracker_debug.pdb
bin/Zlib.dll
bin/assimp.dll
bin/astra.dll
bin/astra_core.dll
bin/astra_core_api.dll
bin/fmodex.dll
bin/fmodexL.dll
bin/freetype.dll
bin/glut32.dll
bin/libeay32.dll
bin/opencv_core248.dll
bin/opencv_highgui248.dll
bin/opencv_imgproc248.dll
bin/opencv_video248.dll
bin/ssleay32.dll
build
astra.log
